.loadingIcon {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loadingIcon:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #03a9f4;
  border-color: #03a9f4 transparent #03a9f4 transparent;
  animation: loadingIcon 1.2s linear infinite;
}
@keyframes loadingIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
